@model List<Shopee.Models.Order>
@{
    ViewData["Title"] = "Orders";
}
<div class="row px-3">
    <table class="table table-borderd table-hover">
        <tr>
            <th>User</th>
            <th>Address</th>
            <th>Items</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        @foreach (Order Ord in Model)
        {
            <tr>
                <td>@Ord.OrderByUser.FirstName</td>
                <td>@Ord.Address</td>
                <td>@Ord.Items.Count</td>
                <td>@Ord.Amount</td>
                <td>@Ord.Status</td>
                <td>
                    <button class="btn btn-danger">
                        Reject
                    </button>
                    <button href="" class="btn btn-success mx-2">
                        Accept
                    </button>
                    <a asp-action="o" asp-controller="order" asp-route-Id="@Ord.Id" class="btn btn-primary">View</a>

                </td>
            </tr>
        }

    </table>
</div>