@model Shopee.Models.Order
@{
    ViewData["Title"] = "Manage Order";
}
@section Styles{
<style>
    .section-legend {
        position: relative;
        top: -23px;
        font-size: 1.2rem;
        opacity: 1;
        color: var(--bs-blue);
        margin-bottom: -13px;
        opacity: 1;
    }
</style>
}

<div class="row ustify-content-between my-3 py-2 border">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
        <div class="row flex-row justify-content-between my-3 py-2 border">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-customer" role="button">
                Customer Details
            </a>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-payment" role="button"">
                Payment Details
            </a>
        </div>
        <div class=" row flex-row justify-content-between my-3 py-2 border">
                <div class="collapse" id="d-customer">
                    <div class="card card-body">
                        customer
                    </div>
                </div>
                <div class="collapse" id="d-payment">
                    <div class="card card-body">payment
                    </div>
                </div>
        </div>


        @*
            <legend class="section-legend">Customer Details</legend>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="inputPassword2" class="col-12 col-form-label">Customer Details</label>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <p> @Model.OrderByUser.FirstName @Model.OrderByUser.LastName</p>
            <p> @Model.Address</p>
            </div>
            </div>
            <div class="row flex-row justify-content-between my-3 py-2 border">
            <legend class="section-legend">Item Details</legend>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="inputPassword2" class="col-12 col-form-label">Customer Details</label>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <p> @Model.OrderByUser.FirstName @Model.OrderByUser.LastName</p>
            <p> @Model.Address</p>
            </div>
            </div> *@
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $('.btn-primary').on('click', function () { $('.collapse').collapse('hide'); })
</script>
}
