@model Shopee.Models.Order
@{
    ViewData["Title"] = "Manage Order";
    var Payments = new string[] { "Credit Card", "Debit Card", "Net Banking", "UPI", "Cash On Delivery" };
    var PaymentsLba = new string[] { "Card Number", "Card Number", "Bank", "URI", "Cash On Delivery" };
    var PaymentsLbb = new string[] { "Expiry", "Expiry", "Account", "@", "Cash On Delivery" };
}
@section Styles{
<style>
    .section-legend {
        position: relative;
        top: -23px;
        font-size: 1.2rem;
        opacity: 1;
        color: var(--bs-blue);
        margin-bottom: -13px;
        opacity: 1;
    }
</style>
}
<div class="row ustify-content-between my-3 py-2">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10 mx-auto">
        <div name="details-buttons" class="row flex-row justify-content-left px-2">
            <div class="col-auto px-0 me-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-order" role="button">Order</a>
            </div>
            <div class="col-auto px-0 me-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-customer" role="button">Customer</a>
            </div>
            <div class="col-auto px-0 me-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-payment" role="button"">Payment</a>
            </div>
            <div class=" col-auto px-0 me-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#d-items" role="button"">Items</a>
            </div>
        </div>
        <div name=" details-details-divs" class=" row flex-row justify-content-left py-2">
                        <div class="collapse show px-0" id="d-order">
                            <div class="card card-body">
                                <table class="table table-borderd m-0">
                                    <tr>
                                        <td>Order Id</td>
                                        <td>@Model.Id</td>
                                    </tr>
                                    <tr>
                                        <td>Order Amount</td>
                                        <td>@Model.Amount</td>
                                    </tr>
                                    <tr>
                                        <td>Order Amount</td>
                                        <td>@Model.Tax</td>
                                    </tr>
                                    <tr>
                                        <td>Order Status</td>
                                        <td>@Model.Status</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="collapse px-0" id="d-customer">
                            <div class="card card-body">
                                <table class="table table-borderd m-0">
                                    <tr>
                                        <td>Name</td>
                                        <td>@Model.OrderByUser.FirstName @Model.OrderByUser.LastName</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>@Model.Address</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="collapse px-0" id="d-payment">
                            <div class="card card-body">
                                <table class="table table-borderd m-0">
                                    <tr>
                                        <td>Amount</td>
                                        <td>@Model.Amount</td>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <td>@Model.Tax</td>
                                    </tr>
                                    <tr>
                                        <td>Payment Type</td>
                                        <td>@Payments[(int)@Model.Payment]</td>
                                    </tr>
                                    <tr>
                                        <td>@PaymentsLba[(int)@Model.Payment]</td>
                                        <td>@Model.pda</td>
                                    </tr>
                                    <tr>
                                        <td>@PaymentsLbb[(int)@Model.Payment]</td>
                                        <td>@Model.pdb</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="collapse px-0" id="d-items">
                            <div class="card card-body">
                                <table class="table table-borderd m-0">
                                    <tr>
                                        <td>Sr#</td>
                                        <td>Item</td>
                                        <td>Avaibility</td>
                                        <td>Quantity</td>
                                    </tr>
                        @{
                            int index = 1;
                        }
                        @foreach (OrderItem item in Model.Items)
                        {                                        
                                        <tr>
                                            <td>@index</td>
                                            <td>@item.Product.Title</td>
                                            <td>@item.Product.StoreQty</td>
                                            <td>@item.Quantity</td>
                                        </tr>
                            index++;
                        }
                                </table>
                            </div>
                        </div>
            </div>

            <div name="order-actions" class="row flex-row justify-content-left px-2">
                <div class="col-auto my-2">                
                    <div class="row">
                        <div class="col-auto px-0 me-1">
                                <a id="btn-accept" asp-action="acc" asp-controller="order" asp-route-Id="@Model.Id"  type="submit" class="btn btn-success" role="button" disabled="@(Model.Status != OrderStatus.Pending)">Accept</a>
                        </div>
                        <div class="col-auto px-0 me-1">
                                <button id="btn-reject" asp-action="acc" asp-controller="order" asp-route-Id="@Model.Id" type="submit" class="btn btn-danger" role="button" disabled="@(Model.Status != OrderStatus.Pending)">Reject</button>
                        </div>
                    </div>  
                </div>
                <div class="col-auto my-2">
                    <form class="row">
                        <div class="col-auto px-0 me-1">
                            <select class="form-select" value="@Model.Status" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
                        </div>
                        <div class="col-auto px-0 me-1">
                            <select class="form-select" value="@Model.Status" asp-items="Html.GetEnumSelectList<ShippingType>()"></select>
                        </div>
                        <div class="col-auto px-0 me-1">
                            <input class="form-control" type="text" id="docket" placeholder="#Docket" "@(Model.Status == OrderStatus.Pending ? "disabled" : "")">
                        </div>
                        <div class="col-auto px-0 me-1">
                            <input class="form-control" type="text" id="remark" placeholder="Remark" "@(Model.Status == OrderStatus.Cancelled ? "disabled" : "")">
                        </div>
                        <div class="col-auto px-0 me-1">
                            <button id="btn-reject" class="btn btn-primary" data-bs-toggle="collapse" role="button" "@(Model.Status == @OrderStatus.Cancelled ? "disabled" : "")" >Update</button>
                        </div>
                    </form>   
                </div>           
            </div>
        </div>
    </div>
@section Scripts{
    <script type=" text/javascript">
        $('.btn-primary').on('click', function () { $('.collapse').collapse('hide'); })
    </script>
    }