@* @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor; *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoopee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopee.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrapicons/bootstrap-icons.css" />
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .gred-text {
            background: linear-gradient(to left top, #e66465, #9198e5);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>

</head>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<body style="background-color: #E5F3E7;">
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 py-1">
            <div class="container-fluid">
                <a class="navbar-brand gred-text px-3 py-0" asp-area="" asp-controller="Home" asp-action="Index"
                    style="font-family: 'Ms Madi', cursive;font-size:20pt;font-weight:bolder">Shoopee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <form method="get" class="d-flex" asp-action="index" asp-controller="product">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            value="@HttpContextAccessor?.HttpContext?.Request.Query["search"]" name="search"
                            autocomplete="off">
                    </form>
                    <ul class="navbar-nav">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    Hello @(User?.FindFirst(c=> c.Type=="FName")?.Value ?? "")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" asp-controller="order" asp-action="index">Orders</a></li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item mx-2">
                                <a type="button" class="btn btn-outline-success" asp-action="index" asp-controller="cart">
                                    <i class="bi bi-cart3"></i>
                                    <span id="cartCount">0</span>
                                </a>

                            </li>
                        }
                        else
                        {
                            <a class="form-control btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    </div>
    <partial name="~/Views/Partial/_model.cshtml" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script type="text/javascript">
    function showMessage(message, type = "SUCCESS") {
        $('#DialogModelTitle').text(type === "SUCCESS" ? "Success" : "Error")
        $('#DialogModelText').text(message);
        if (type === "SUCCESS") {
            $('#DialogModelIcon').addClass('bi-check-circle-fill');
            $('#DialogModelIcon').css({ 'color': '#A5F64F' })
        } else {
            console.log('elase part', type)
            $('#DialogModelIcon').addClass('bi-x-circle-fill');
            $('#DialogModelIcon').css({ 'color': '#E96347' });
        }
        var model = new bootstrap.Modal(document.getElementById('DialogModel'), {})
        model.show()
    }
    @if (@ViewBag.Alert != null)
    {
        @:showMessage('@ViewBag.Alert', '@ViewBag.AlertType')
    }
</script>

</html>
