@using Shopee.Models
@model List<Shopee.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<table class="table table-border">
    <tr>
        <th>
            Category
        </th>
        <th>
            Sub Category
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>

    </tr>
    @foreach (Product item in Model)
    {
        <tr>
            <td>@(item.Category?.ParentCategory?.Category ?? "-")</td>
            <td>@item.Category?.Category</td>
            <td>@item.Title</td>
            <td>@item.Title</td>
            <td>@item.Desc</td>
            <td>@item.StoreQty</td>
            <td>@item.UnitPrice</td>
            <td>@item.specification</td>
        </tr>
    }
</table>