@model Shopee.Models.Product
@{
    ViewData["Title"] = "Products";
}

<div class="row px-2">
    <div class="col-sm-12 col-md-4">
        <div class="row">
            <div id="a@{@Model.Id.ToString().Replace("-","");}" class="carousel slide border rounded"
                data-ride="carousel">
                <div class="carousel-inner" style="height:400px; width:auto">
                    @foreach (var iitem in Model.Images.Select((value, index) => new { value, index }))
                    {
                        <div class="carousel-item @(iitem.index == 0 ?"active":"")">
                            <img class="d-block img-fluid mx-auto"
                            src="data:image/png;base64,@Convert.ToBase64String(iitem.value.Image)">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#a@{@Model.Id.ToString().Replace("-","");}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#a@{@Model.Id.ToString().Replace("-","");}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center align-content-center mt-2">
            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
                            onclick="decQty()">-
                        </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" style="width: 50px;"
                        class="form-control input-number text-center" value="1" min="1" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus"
                            onclick="incQty()">+
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-auto">
                <button type="button" id="addToCartButton" class="btn btn-primary form-control" data-id="@Model.Id"
                    onclick="addToCart()">
                    Add To Cart
                </button>
            </div>
        </div>
    </div>
    <div class=" col-sm-12 col-md-8">
        <h5 class="">@Model.Title</h5>
        <table class="table border">
            <tr>
                <td>Title</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Desc</td>
            </tr>
            <tr>
                <td>Avaibility</td>
                <td>@Model.StoreQty</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.UnitPrice</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>@Model.tax.ToString("0.00") %</td>
            </tr>
            <tr>
                <td>Specification</td>
                <td>@Model.specification</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    function incQty() {
        var oldVal = parseInt($('#quantity').val())
        $('#quantity').val(oldVal + 1)
    }

    function decQty() {
        var oldVal = parseInt($('#quantity').val())
        if (oldVal > 0) {
            $('#quantity').val(oldVal - 1)
        }
    }
    function addToCart() {
        var productId = $('#addToCartButton').data('id');
        var Qty = parseInt($('#quantity').val());
        $.ajax({
            url: `@Url.Action("add","cart")?ProdId=${productId}&quantity=${Qty}`,
            success: (data) => {
                $('#cartCount').text(parseInt($('#cartCount').text()) + Qty)
                showMessage("Item Added to cart successfully", "SUCCESS");
            },
            error: (err) => {
                if (err.status === 401) {
                    showMessage("Please Login to add items to Cart", "ERROR");
                } else {
                    showMessage("Something Went Wrong Please try after some time", "ERROR");
                }
            }
        })
    }
</script>
}
